*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'NorseBold';
    src: url('../../Fonts/Norse-Bold.woff2') format('woff2'),
        url('../../Fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.heading h1{
    font-family: "NorseBold", sans-serif;
    color: #66441d;
}

.desc{
    font-family: "Cinzel", sans-serif;
}