*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Norse';
    src: url('../Fonts/Norse.woff2') format('woff2'),
        url('../Fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NorseBold';
    src: url('../Fonts/Norse-Bold.woff2') format('woff2'),
        url('../Fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.hero{
    display: flex;
    align-items: center;
}

.hero-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.hero-text{
    margin-bottom: 80px;
}

.hero-text h1{
    font-family: "NorseBold", sans-serif;
    color: #7d674e;
    font-size: 3em;
    padding-left: 30px;
    margin-top: -70px;
    letter-spacing: 4px;
}

.hero-text p{
    font-family: "Norse", sans-serif;
    color: #7e5b32;
    font-size: 1.6em;
    padding-left: 30px;
    margin-top: 20px;
    letter-spacing: 2.3px;
    max-width: 50ch;
}

.hero-img{
    margin-left: 110px;
    margin-top: 10px;
}

.hero-img img{
    height: 45vh;
    width: 45vw;
    border-radius: 10px;
}

.hero-btn{
    margin-top: 40px;
    padding-left: 30px;
    position: absolute;
}

.hero-btn button{
    font-family: "NorseBold", sans-serif;
    color: black;
    background-color: #967b5d;
    font-size: 1.4em;
    border: none;
    border-radius: 5px;
    padding: 8px 13px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .hero-section{
       height: 100vh;
       width: 100vw;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-text{
        margin-top: 150px;
        margin-bottom: 20px;
    }

    .hero-text h1{
        font-size: 2.5em;
        padding-left: 20px;
    }

    .hero-text p{
        font-size: 1.2em;
        padding-left: 20px;
    }

    .hero-img img{
        height: 30vh;
        width: 85vw;
    }

    .hero-img{
        margin-left: -2.9vw;
        margin-top: 100px;
    }
    
    .hero-btn{
        padding-left: 20px;
    }
}